.search_container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.search_input {
  width: 25em;
  padding: 0.55em;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  margin: 0 auto; 
}

.search_input:focus {
  outline: none;
  border-color: #e33d33; 
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  
  .title {
    color: #e33d33;
    text-align: center;
    font-size: 3em;
    margin-right: 0.4em;
  }
  
  .title span {
    color: #000;
  }
  
  .pokemon_container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  }

  @media (max-width: 570px) {
    
    .pokemon_container {
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 1fr;
      justify-content: center; 
      align-items: center;
    }
    
    .search_input {
      width: 16em;
      padding: 0.55em;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s ease-in-out;
      margin: 0 auto; 
    }

    .pokemon_container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }